### IntelliJ IDEA
.idea
target
*.iml

### Maven template
dependency-reduced-pom.xml

### Temp dirs
.factorypath

### Generated code
generated

### Log Folder
log

### Helm
Chart.lock
charts
*.tgz

### Pact Contracts folder
pacts